<h1>Title <%=@game.title%></h1>

<h1>Genre: <%=@game.genre%></h1>

<h1>Platform: <%=@game.platform%></h1>

<a href="/games/<%=@game.id%>/edit">Edit</a>

<form action="/tweets/<%= @game.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>


<a href="/games">Home</a>



